.carousel {
  margin-bottom: 10px;
}

.slidetitle {
font-size: 30px;
}

.slidecaption p {
	font-size: 16px;
}

/* Wide */
@media (min-width: 1000px) {
    #myCarousel.carousel img {
    	width:100%;
    	position: relative;
    	overflow-y:hidden;
    	
    }
    #myCarousel, div.carousel-inner {
    	max-height: 700px;
    }
    
    .carousel-caption {
    	position: absolute;
    	top: 50px;
    	left: 12%;
    	text-align: left;
    	width: 800px;
    }
    .slidetitle {
		font-size: 45px;
	}
    .slidecaption p {
		font-size: 25px;
	}
}

/* MOBILE */
@media (max-width: 600px) {
	.carousel {
		background-color: #005DAA;
		margin-top: 50px;
	}
	.carousel-caption {
    	position: relative;
    	top: -10px;
    	left: 1%;
    	text-align: center;
    	width: 100%;
    	height: 150px;
    }
    .carousel-indicators {
    	display: none;
    }
    .slidetitle {
		font-size: 20px;
	}
	.slidecaption p{
		font-size: 12px;
	}
}
