.bigbox {
height: 250px;
overflow: hidden;
}

.box {
height: 250px;
overflow: hidden;
}

.box img{
height: 100%;
overflow: hidden;
overflow-x: hidden;
max-width: none;
max-height: none;
min-width: 100%;
overflow-y: hidden;
}

.grid .row {
margin-bottom: 5px;
margin-top: 5px;
}

.grid .col-md-6 {
padding-left: 3px;
padding-right: 3px;
}

.grid .col-md-3 {
padding-left: 3px;
padding-right: 3px;
}

@media (max-width: 992px) {
.grid .col-md-6 {
margin-bottom: 5px;
margin-top: 5px;
}

.grid .col-md-3 {
margin-bottom: 5px;
margin-top: 5px;
}

.grid .row {
margin-bottom: -5px;
margin-top: -5px;
}
}