.navbar-toggle {
margin-top: 22px;
}

/** Large **/
@media (min-width: 600px) {

.nav {
padding-top: 13px;
}

.navbar-brand {
font-size: 40px;
padding-top: 18px;
}

.navbar-inner {
background-color: rgba(0, 0, 0, 0.8);
height: 80px;
}
.navbar-inner container {
background-color: rgba(0, 0, 0, 0.8);
height: 80px;
}
.navbar {
background-color: rgba(0, 0, 0, 0.8);
height: 80px;
}

.navbar-inverse .navbar-brand { color: #D4D4D4}
.navbar-inverse .navbar-nav>li>a { color: #D4D4D4}
.navbar-nav>.open>a:focus { color: #D4D4D4}
}

/** Mobile **/
@media (max-width: 600px) {

.navbar-toggle {
margin-top: 10px;
}

.navbar-brand {
  padding: 5px 0 0 10px;
  font-size: 20px;
}

}

