/*Navbar styles*/
@import url("navbar.css");

/*Carousel styles*/
@import url("carousel.css");




/*Special CSS for SUNY Fredonia's Home page*/

/*Major elements*/
body { 
padding-top: 50px;
}

/**Navbar**/
/*Logo*/
.fred-logo {
width:50px;
}

/**Accordions need padding when stacked**/
.panel-group {
margin-bottom: 5px;
}

/**Center block class for quickly centering objects and text**/
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
