	<div id="myCarousel" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
		<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
			<li data-target="#myCarousel" data-slide-to="1"></li>
		</ol>
		<div class="carousel-inner">
			{% for post in site.posts %}
			<div class="item active">
				<img src="{{ post.imageUrl }}" alt="First slide">
				<div class="container">
					<div class="carousel-caption">
						<h3>{{ post.title }}</h3>
						<p>{{ post.caption }}</p>
						{% if post.link %}
						<p><a class="btn btn-lg btn-primary" href="{{ post.link }}" role="button">Read more</a></p>
						{% endif %}
					</div><!-- carousel-caption -->
				</div><!-- container -->
			</div><!-- item -->
			{% endfor %}
		</div><!-- carousel-inner -->
			<a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
			<a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
	</div><!-- carousel slide -->