<div class="footer">
<hr>
<div class="container">
	<div class="row">
		<div class="col-md-3">
			{% include address.html %}
		</div><!-- col-md-2 -->
		<div class="col-md-1">
		</div><!-- col-md-1 -->
		<div class="col-md-2">
			{% include menus/administration.html %}
		</div><!-- col-md-2 -->
		<div class="col-md-2">
			{% include menus/contact.html %}
		</div><!-- col-md-2 -->
		<div class="col-md-2">
			{% include menus/e-services.html %}
		</div><!-- col-md-2 -->
		<div class="col-md-2">
			{% include menus/emergency.html %}
		</div><!-- col-md-2 -->
	</div><!-- row -->
</div><!-- container -->
</div>




	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Bootstrap Javascript -->
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    
    <!-- Script to center landscape vs portrait images in grid -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/2.1.0/jquery.imagesloaded.min.js"></script>
        <script src="{{ site.baseurl }}/js/jquery-imagefill.js"></script>
        <script>
            $('.box').imagefill();
        </script>
        <script>
            $('.bigbox').imagefill();
        </script>