<div class="center-block">
	<h1>Glimpses of Fredonia</h1>
</div><!-- centered -->

<div class="grid">
<div class="row">
	<div class="col-md-6">
		<div class="bigbox">
		{% for post in site.categories.bigbox limit:1 %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% endfor %}
		</div><!-- bigbox -->
	</div><!-- col-md-6 -->
	<div class="col-md-3">
		<div class="box">
		{% for post in site.categories.box limit:1 %}
		{% if post.imageUrl %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% else %}
		<div class="boxtype"><a href="{{ post.link }}">{{ post.content }}</a></div>
		<div class="fadeout"></div>
		{% endif %}
		{% endfor %}
		</div><!-- box -->
	</div>
	<div class="col-md-3">
		<div class="box">
		{% for post in site.categories.box limit:1 offset:1 %}
		{% if post.imageUrl %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% else %}
		<div class="boxtype">{{ post.content }}</div>
		<div class="fadeout"></div>
		{% endif %}
		{% endfor %}
		</div><!-- box -->
	</div>
</div><!-- row -->

<div class="row">
	<div class="col-md-3">
		<div class="box">
		{% for post in site.categories.box limit:1 offset:2 %}
		{% if post.imageUrl %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% else %}
		<div class="boxtype">{{ post.content }}</div>
		<div class="fadeout"></div>
		{% endif %}
		{% endfor %}
		</div><!-- box -->
	</div>
	<div class="col-md-3">
		<div class="box">
		{% for post in site.categories.box limit:1 offset:3 %}
		{% if post.imageUrl %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% else %}
		<div class="boxtype">{{ post.content }}</div>
		<div class="fadeout"></div>
		{% endif %}
		{% endfor %}
		</div><!-- box -->
	</div>
	<div class="col-md-6">
		<div class="bigbox">
		{% for post in site.categories.bigbox limit:1 offset:1 %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% endfor %}
		</div><!-- bigbox -->
	</div><!-- col-md-6 -->
</div><!-- row -->

<div class="row">
	<div class="col-md-6">
		<div class="bigbox">
		{% for post in site.categories.bigbox limit:1 offset:2 %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% endfor %}
		</div><!-- bigbox -->
	</div><!-- col-md-6 -->
	<div class="col-md-3">
		<div class="box">
		{% for post in site.categories.box limit:1 offset:4 %}
		{% if post.imageUrl %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% else %}
		<div class="boxtype">{{ post.content }}</div>
		<div class="fadeout"></div>
		{% endif %}
		{% endfor %}
		</div><!-- box -->
	</div>
	<div class="col-md-3">
		<div class="box">
		{% for post in site.categories.box limit:1 offset:5 %}
		{% if post.imageUrl %}
		<a href="{{ post.link }}"><img src="{{ post.imageUrl }}">
			<div class="boxoverlay"><span class="boxspacer"></span><span>{{ post.title }} <small><span class="glyphicon glyphicon-arrow-right"></span></small></span></div>
		</a>
		{% else %}
		<div class="boxtype">{{ post.content }}</div>
		<div class="fadeout"></div>
		{% endif %}
		{% endfor %}
		</div><!-- box -->
	</div>
</div><!-- row -->
	<div class="socialicons">
		<a href="http://www.twitter.com/sunyfredonia"><i class="fa fa-twitter-square"></i></a> <a href="http://www.instagram.com/sunyfredonia"><i class="fa fa-instagram"></i></a> <a href="http://www.facebook.com/sunyfredonia"><i class="fa fa-facebook-square"></i></a> <a href="http://sunyfredonia.tumblr.com"><i class="fa fa-tumblr-square"></i></a>
	</div><!-- socialicons -->
</div><!-- grid -->