<hr>
<div class="center-block">
	<h1>Our Mission</h1>
	<p class="lead">SUNY Fredonia educates, challenges, and inspires students to become skilled, connected, creative, and responsible global citizens and professionals. The university enriches the world through scholarship, artistic expression, community engagement, and entrepreneurship.</p>
	<a href="/"><button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">Fast facts about Fredonia</button></a>
  	<a href="/"><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Apply</button></a>
</div><!-- centered -->
<hr>